@mixin ellipsis{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
@mixin input {
    width: 100%;
    padding-right: .2rem;
    outline: none;
    border: none;
    background: none;
}